Repository Azure/iot-hub-device-update-delta: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/CI/diffapi-ubuntu1804.yml, pipelines/CI/diffapi-ubuntu2004-arm.yml, pipelines/CI/diffapi-ubuntu2004-arm64.yml, pipelines/CI/diffapi-ubuntu2004.yml, pipelines/CI/diffapi-windows.yml, pipelines/CI/diffgen-tests-linux.yml, pipelines/CI/diffgen-tests-windows.yml, pipelines/CI/end-to-end-tests.yml

Path conditions:
  pipelines/CI/diffapi-ubuntu1804.yml: any of: src, but not: src/managed
  pipelines/CI/diffapi-ubuntu2004-arm.yml: any of: src, but not: src/managed
  pipelines/CI/diffapi-ubuntu2004-arm64.yml: any of: src, but not: src/managed
  pipelines/CI/diffapi-ubuntu2004.yml: any of: src, but not: src/managed
  pipelines/CI/diffapi-windows.yml: any of: src, but not: src/managed
  pipelines/CI/diffgen-tests-linux.yml: any of: src
  pipelines/CI/diffgen-tests-windows.yml: any of: src
  pipelines/CI/end-to-end-tests.yml: any of: src

Push changes for 1.0.0 version of Microsoft.Azure.DeviceUpdate.Diffs nuget package.
  pipelines/CI/diffapi-windows.yml
  pipelines/templates/build-diffgen.yml
  pipelines/templates/build-native-x64-windows.yml
  pipelines/templates/show-version-variables.yml
  pipelines/templates/version-variables.yml
  src/managed/DiffGen/DiffGeneration/ADUCreate.cs
  src/managed/DiffGen/DiffGeneration/AddCopiesForDuplicateChunks.cs
  src/managed/DiffGen/DiffGeneration/AddDeltaBasedRecipes.cs
  src/managed/DiffGen/DiffGeneration/AddIdenticalPayloadBasedRecipes.cs
  src/managed/DiffGen/DiffGeneration/AddRemainderChunks.cs
  src/managed/DiffGen/DiffGeneration/AddSourceCopyRecipes.cs
  src/managed/DiffGen/DiffGeneration/BsDiffDeltaBuilder.cs
  src/managed/DiffGen/DiffGeneration/CreateDeltas.cs
  src/managed/DiffGen/DiffGeneration/CreateDiff.cs
  src/managed/DiffGen/DiffGeneration/DeltaBuilder.cs
  src/managed/DiffGen/DiffGeneration/Diff.cs
  src/managed/DiffGen/DiffGeneration/DiffBuilder.cs
  src/managed/DiffGen/DiffGeneration/DiffBuilderException.cs
  src/managed/DiffGen/DiffGeneration/DiffGeneration.csproj
  src/managed/DiffGen/DiffGeneration/DiffGeneration.nuspec
  src/managed/DiffGen/DiffGeneration/DiffSerializer.cs
  src/managed/DiffGen/DiffGeneration/DumpDiff.cs
  src/managed/DiffGen/DiffGeneration/Expand.cs
  src/managed/DiffGen/DiffGeneration/FinalizeInlineAssets.cs
  src/managed/DiffGen/DiffGeneration/NestedDeltaBuilder.cs
  src/managed/DiffGen/DiffGeneration/Recompress.cs
  src/managed/DiffGen/DiffGeneration/TimeoutValueGenerator.cs
  src/managed/DiffGen/DiffGeneration/ToolBasedDeltaBuilder.cs
  src/managed/DiffGen/DiffGeneration/Worker.cs
  src/managed/DiffGen/DiffGeneration/WriteDiffToDisk.cs
  src/managed/DiffGen/DiffGeneration/ZstdDeltaBuilder.cs
  src/managed/DiffGen/demos/DiffGenDemo/Program.cs
  src/managed/DiffGen/tests/UnitTests/DiffTests.cs
  src/managed/DiffGen/tools/DiffGenTool/Program.cs
Due: pipelines/CI/diffgen-tests-linux.yml, pipelines/CI/diffgen-tests-windows.yml, pipelines/CI/end-to-end-tests.yml

Add missing file, 'DiffGenTool' from linux portion of nuget. Allow for file name supplied as output for DiffGenTool.
  pipelines/templates/version-variables.yml
  src/managed/DiffGen/DiffGeneration/DiffGeneration.nuspec
  src/managed/DiffGen/DiffGeneration/WriteDiffToDisk.cs
Due: pipelines/CI/diffgen-tests-linux.yml, pipelines/CI/diffgen-tests-windows.yml, pipelines/CI/end-to-end-tests.yml

Update pipelines to download SWU from ADU public release and recompress for use with tests. Some changes to code/tests for issues found during moving to new test content.
  .gitignore
  build/copy-native-code-windows.ps1
  build/download-test-swu.ps1
  build/download-test-swu.sh
  build/recompress-target-swu.ps1
  copy_all_repo_files.ps1
  data/README.txt
  data/remainder.dat
  data/remainder.dat.deflate
  data/sample.zst
  pipelines/CI/diffgen-tests-linux.yml
  pipelines/CI/diffgen-tests-windows.yml
  pipelines/create-test-media-swu.yml
  pipelines/templates/build-diffgen.yml
  pipelines/templates/build-native-x64-windows.yml
  pipelines/templates/diffgen-variables.yml
  pipelines/templates/download-swu-media.yml
  pipelines/templates/end-to-end-tests.yml
  pipelines/templates/sign-3rdParty-x64-windows.yml
  pipelines/templates/version-variables.yml
  pipelines/zstdcompressiontool-linux.yml
  src/diffs/blob_cache.cpp
  src/diffs/blob_cache.h
  src/diffs/gtest/diffs_gtest.cpp
  src/diffs/gz_decompression_recipe.cpp
  src/error_utility/error_codes.h
  src/io_utility/CMakeLists.txt
  src/io_utility/gtest/io_utility_gtest.cpp
  src/io_utility/zstd_decompression_reader.cpp
  src/managed/DiffGen/ArchiveUtility/ArchiveUtility.csproj
  src/managed/DiffGen/DiffGeneration/Recompress.cs
  src/managed/DiffGen/tests/ArchiveUtilityTest/ArchiveUtilityTest.csproj
  src/managed/DiffGen/tests/EndToEndTests/EndToEndTests.csproj
  src/managed/DiffGen/tests/UnitTests/UnitTests.csproj
  src/scripts/recompress_swu/tests/test_integration.py
Due: pipelines/CI/diffapi-ubuntu1804.yml, pipelines/CI/diffapi-ubuntu2004-arm.yml, pipelines/CI/diffapi-ubuntu2004-arm64.yml, pipelines/CI/diffapi-ubuntu2004.yml, pipelines/CI/diffapi-windows.yml, pipelines/CI/diffgen-tests-linux.yml, pipelines/CI/diffgen-tests-windows.yml, pipelines/CI/end-to-end-tests.yml

Add license for copy_all_repo_files.ps1
  copy_all_repo_files.ps1
Due: none

Simplify param definition.
  copy_all_repo_files.ps1
Due: none

Use SWU files from publicly available ADU locations (#8)
  .gitignore
  build/copy-native-code-windows.ps1
  build/download-test-swu.ps1
  build/download-test-swu.sh
  build/recompress-target-swu.ps1
  copy_all_repo_files.ps1
  data/README.txt
  data/remainder.dat
  data/remainder.dat.deflate
  data/sample.zst
  pipelines/CI/diffgen-tests-linux.yml
  pipelines/CI/diffgen-tests-windows.yml
  pipelines/create-test-media-swu.yml
  pipelines/templates/build-diffgen.yml
  pipelines/templates/build-native-x64-windows.yml
  pipelines/templates/diffgen-variables.yml
  pipelines/templates/download-swu-media.yml
  pipelines/templates/end-to-end-tests.yml
  pipelines/templates/sign-3rdParty-x64-windows.yml
  pipelines/templates/version-variables.yml
  pipelines/zstdcompressiontool-linux.yml
  src/diffs/blob_cache.cpp
  src/diffs/blob_cache.h
  src/diffs/gtest/diffs_gtest.cpp
  src/diffs/gz_decompression_recipe.cpp
  src/error_utility/error_codes.h
  src/io_utility/CMakeLists.txt
  src/io_utility/gtest/io_utility_gtest.cpp
  src/io_utility/zstd_decompression_reader.cpp
  src/managed/DiffGen/ArchiveUtility/ArchiveUtility.csproj
  src/managed/DiffGen/DiffGeneration/Recompress.cs
  src/managed/DiffGen/tests/ArchiveUtilityTest/ArchiveUtilityTest.csproj
  src/managed/DiffGen/tests/EndToEndTests/EndToEndTests.csproj
  src/managed/DiffGen/tests/UnitTests/UnitTests.csproj
  src/scripts/recompress_swu/tests/test_integration.py
Due: pipelines/CI/diffapi-ubuntu1804.yml, pipelines/CI/diffapi-ubuntu2004-arm.yml, pipelines/CI/diffapi-ubuntu2004-arm64.yml, pipelines/CI/diffapi-ubuntu2004.yml, pipelines/CI/diffapi-windows.yml, pipelines/CI/diffgen-tests-linux.yml, pipelines/CI/diffgen-tests-windows.yml, pipelines/CI/end-to-end-tests.yml

Fix build for vcpkg packages.
  build/setup_vcpkg.sh
  copy_all_repo_files.ps1
  src/managed/DiffGen/tests/samples/expanded_chunks/ext4_1/3
  src/misc/ext4_samples_generation/inputs/1/b.txt
  src/tools/dumpextfs/build.win32
  src/tools/dumpextfs/build_dll.win32
  src/tools/dumpextfs/e2fsprogs.patch
  src/tools/dumpextfs/test
  vcpkg/ports/libgcrypt/cross-tools.patch
  vcpkg/ports/libgcrypt/libgcrypt.patch
  vcpkg/ports/libgcrypt/portfile.cmake
  vcpkg/ports/libgcrypt/vcpkg.json
  vcpkg/ports/libgpg-error/cross-tools.patch
  vcpkg/ports/libgpg-error/pkgconfig-libintl.patch
  vcpkg/ports/libgpg-error/portfile.cmake
  vcpkg/ports/libgpg-error/vcpkg.json
Due: pipelines/CI/diffapi-ubuntu1804.yml, pipelines/CI/diffapi-ubuntu2004-arm.yml, pipelines/CI/diffapi-ubuntu2004-arm64.yml, pipelines/CI/diffapi-ubuntu2004.yml, pipelines/CI/diffapi-windows.yml, pipelines/CI/diffgen-tests-linux.yml, pipelines/CI/diffgen-tests-windows.yml, pipelines/CI/end-to-end-tests.yml

Update README
  README.md
Due: none

Update README and fix build issues for arm in vcpkg packages (#9)
  README.md
  build/setup_vcpkg.sh
  copy_all_repo_files.ps1
  src/managed/DiffGen/tests/samples/expanded_chunks/ext4_1/3
  src/misc/ext4_samples_generation/inputs/1/b.txt
  src/tools/dumpextfs/build.win32
  src/tools/dumpextfs/build_dll.win32
  src/tools/dumpextfs/e2fsprogs.patch
  src/tools/dumpextfs/test
  vcpkg/ports/libgcrypt/cross-tools.patch
  vcpkg/ports/libgcrypt/libgcrypt.patch
  vcpkg/ports/libgcrypt/portfile.cmake
  vcpkg/ports/libgcrypt/vcpkg.json
  vcpkg/ports/libgpg-error/cross-tools.patch
  vcpkg/ports/libgpg-error/pkgconfig-libintl.patch
  vcpkg/ports/libgpg-error/portfile.cmake
  vcpkg/ports/libgpg-error/vcpkg.json
Due: pipelines/CI/diffapi-ubuntu1804.yml, pipelines/CI/diffapi-ubuntu2004-arm.yml, pipelines/CI/diffapi-ubuntu2004-arm64.yml, pipelines/CI/diffapi-ubuntu2004.yml, pipelines/CI/diffapi-windows.yml, pipelines/CI/diffgen-tests-linux.yml, pipelines/CI/diffgen-tests-windows.yml, pipelines/CI/end-to-end-tests.yml

Make ext4 and zip files into large file storage (lfs)
  .gitattributes
Due: none

Change pipelines to produce 7z archive for diffgentool on windows and tar.gz for linux.
  pipelines/onebranch/PullRequest/diffapi-linux-PullRequest.yml
  pipelines/onebranch/PullRequest/diffapi-linux-arm-PullRequest.yml
  pipelines/onebranch/PullRequest/diffapi-linux-arm64-PullRequest.yml
  pipelines/onebranch/PullRequest/diffapi-windows-PullRequest.yml
  pipelines/onebranch/PullRequest/diffapi-windows-debug-PullRequest.yml
  pipelines/onebranch/diffapi-linux-arm-official.yml
  pipelines/onebranch/diffapi-linux-arm64-official.yml
  pipelines/onebranch/diffapi-linux-official.yml
  pipelines/onebranch/diffapi-windows-official.yml
  pipelines/templates/build-managed-linux.yml
  pipelines/templates/build-managed-windows.yml
Due: none

Change pipelines to produce 7z archive for diffgentool on windows and tar.gz for linux. (#12)
  pipelines/onebranch/PullRequest/diffapi-linux-PullRequest.yml
  pipelines/onebranch/PullRequest/diffapi-linux-arm-PullRequest.yml
  pipelines/onebranch/PullRequest/diffapi-linux-arm64-PullRequest.yml
  pipelines/onebranch/PullRequest/diffapi-windows-PullRequest.yml
  pipelines/onebranch/PullRequest/diffapi-windows-debug-PullRequest.yml
  pipelines/onebranch/diffapi-linux-arm-official.yml
  pipelines/onebranch/diffapi-linux-arm64-official.yml
  pipelines/onebranch/diffapi-linux-official.yml
  pipelines/onebranch/diffapi-windows-official.yml
  pipelines/templates/build-managed-linux.yml
  pipelines/templates/build-managed-windows.yml
Due: none

Add 2.0.0 preview download.
  preview/2.0.0/arm-linux/ms-adu_diffs_2.0.0_arm.deb
  preview/2.0.0/arm64-linux/ms-adu_diffs_2.0.0_arm64.deb
  preview/2.0.0/x64-linux/DiffGenTool.x64-linux.Release.tar.gz
  preview/2.0.0/x64-linux/ms-adu_diffs_2.0.0_x86_64.deb
  preview/2.0.0/x64-windows/DiffGenTool.x64-windows.Release.7z
Due: none

Set 7z, deb and gz files ot use large file storage.
  .gitattributes
Due: none

Set 7z, deb and gz files to use large file storage.
  .gitattributes
Due: none

Add archives/packages for preview
  preview/2.0.0/arm-linux/ms-adu_diffs_2.0.0_arm.deb
  preview/2.0.0/arm64-linux/ms-adu_diffs_2.0.0_arm64.deb
  preview/2.0.0/x64-linux/DiffGenTool.x64-linux.Release.tar.gz
  preview/2.0.0/x64-linux/ms-adu_diffs_2.0.0_x86_64.deb
  preview/2.0.0/x64-windows/DiffGenTool.x64-windows.Release.7z
Due: none

Add 2.0.0 packages/archives for download (#13)
  .gitattributes
  preview/2.0.0/arm-linux/ms-adu_diffs_2.0.0_arm.deb
  preview/2.0.0/arm64-linux/ms-adu_diffs_2.0.0_arm64.deb
  preview/2.0.0/x64-linux/DiffGenTool.x64-linux.Release.tar.gz
  preview/2.0.0/x64-linux/ms-adu_diffs_2.0.0_x86_64.deb
  preview/2.0.0/x64-windows/DiffGenTool.x64-windows.Release.7z
Due: none

Add preview release packages.
  preview/2.0.2/arm-linux/ms-adu_diffs_2.0.2_arm.deb
  preview/2.0.2/arm64-linux/ms-adu_diffs_2.0.2_arm64.deb
  preview/2.0.2/x64-linux/DiffGenTool.x64-linux.Release.tar.gz
  preview/2.0.2/x64-linux/ms-adu_diffs_2.0.2_x86_64.deb
  preview/2.0.2/x64-windows/DiffGenTool.x64-windows.Release.7z
Due: none

Add preview packages.
  preview/2.0.3/arm-linux/ms-adu_diffs_2.0.3_arm.deb
  preview/2.0.3/arm64-linux/ms-adu_diffs_2.0.3_arm64.deb
  preview/2.0.3/x64-linux/DiffGenTool.x64-linux.Release.tar.gz
  preview/2.0.3/x64-linux/ms-adu_diffs_2.0.3_x86_64.deb
  preview/2.0.3/x64-windows/DiffGenTool.x64-windows.Release.7z
Due: none

Update source code for version 2.0.4
  src/managed/DiffGen/ArchiveUtility/ArchiveTokenization.cs
  src/managed/DiffGen/ArchiveUtility/ItemDefinition.cs
  src/managed/DiffGen/ArchiveUtility/PayloadCatalog.cs
  src/managed/DiffGen/DiffGeneration/Diff.cs
  src/managed/DiffGen/tests/ArchiveUtilityTest/LoadArchivesTest.cs
  src/managed/DiffGen/tests/UnitTests/SerializationTests.cs
  src/managed/DiffGen/tests/samples.zip
  src/managed/DiffGen/tests/samples/archive_manifests/ext4/sample2.ext4.json
  src/managed/DiffGen/tests/samples/archive_manifests/ext4/sample3.ext4.json
  src/managed/DiffGen/tests/samples/diffs/complex/source.cpio.json
  vcpkg/setup_vcpkg.ps1
  version.txt
Due: pipelines/CI/diffgen-tests-linux.yml, pipelines/CI/diffgen-tests-windows.yml, pipelines/CI/end-to-end-tests.yml

Archives for new version
  preview/2.0.4/arm-linux/ms-adu_diffs_2.0.4_arm.deb
  preview/2.0.4/arm64-linux/ms-adu_diffs_2.0.4_arm64.deb
  preview/2.0.4/x64-linux/DiffGenTool.x64-linux.Release.tar.gz
  preview/2.0.4/x64-linux/ms-adu_diffs_2.0.4_x86_64.deb
  preview/2.0.4/x64-windows/DiffGenTool.x64-windows.Release.7z
Due: none

Preview version 2.0.4 - fixes to handle diffs including extra content (#16)
  preview/2.0.4/arm-linux/ms-adu_diffs_2.0.4_arm.deb
  preview/2.0.4/arm64-linux/ms-adu_diffs_2.0.4_arm64.deb
  preview/2.0.4/x64-linux/DiffGenTool.x64-linux.Release.tar.gz
  preview/2.0.4/x64-linux/ms-adu_diffs_2.0.4_x86_64.deb
  preview/2.0.4/x64-windows/DiffGenTool.x64-windows.Release.7z
  src/managed/DiffGen/ArchiveUtility/ArchiveTokenization.cs
  src/managed/DiffGen/ArchiveUtility/ItemDefinition.cs
  src/managed/DiffGen/ArchiveUtility/PayloadCatalog.cs
  src/managed/DiffGen/DiffGeneration/Diff.cs
  src/managed/DiffGen/tests/ArchiveUtilityTest/LoadArchivesTest.cs
  src/managed/DiffGen/tests/UnitTests/SerializationTests.cs
  src/managed/DiffGen/tests/samples.zip
  src/managed/DiffGen/tests/samples/archive_manifests/ext4/sample2.ext4.json
  src/managed/DiffGen/tests/samples/archive_manifests/ext4/sample3.ext4.json
  src/managed/DiffGen/tests/samples/diffs/complex/source.cpio.json
  vcpkg/setup_vcpkg.ps1
  version.txt
Due: pipelines/CI/diffgen-tests-linux.yml, pipelines/CI/diffgen-tests-windows.yml, pipelines/CI/end-to-end-tests.yml

Update code for version 2.0.5
  src/managed/DiffGen/ArchiveUtility/ItemDefinition.cs
  src/managed/DiffGen/DiffGeneration/DeltaCatalog.cs
  src/managed/DiffGen/DiffGeneration/Diff.cs
  src/managed/DiffGen/DiffGeneration/DiffBuilder.cs
  src/managed/DiffGen/DiffGeneration/Utility/DeltaBuilder.cs
  src/managed/DiffGen/DiffGeneration/Utility/ToolBasedDeltaBuilder.cs
  src/managed/DiffGen/DiffGeneration/Workers/AddRecipesToDiff.cs
  src/managed/DiffGen/DiffGeneration/Workers/AddRemainderChunks.cs
  src/managed/DiffGen/DiffGeneration/Workers/CreateDeltas.cs
  src/managed/DiffGen/DiffGeneration/Workers/CreateInlineAssets.cs
  src/managed/DiffGen/DiffGeneration/Workers/SelectDeltasFromCatalog.cs
  src/managed/DiffGen/DiffGeneration/Workers/SelectItemsForDelta.cs
  src/managed/DiffGen/DiffGeneration/Workers/UseRecipesFromSource.cs
  src/managed/DiffGen/DiffGeneration/Workers/VerifyDiffObject.cs
  src/managed/DiffGen/DiffGeneration/Workers/VerifyDiffOutput.cs
  src/native/tools/recompress/recompress_tool.cpp
  version.txt
Due: pipelines/CI/diffapi-ubuntu1804.yml, pipelines/CI/diffapi-ubuntu2004-arm.yml, pipelines/CI/diffapi-ubuntu2004-arm64.yml, pipelines/CI/diffapi-ubuntu2004.yml, pipelines/CI/diffapi-windows.yml, pipelines/CI/diffgen-tests-linux.yml, pipelines/CI/diffgen-tests-windows.yml, pipelines/CI/end-to-end-tests.yml

Update code for version 2.0.5 (#18)
  src/managed/DiffGen/ArchiveUtility/ItemDefinition.cs
  src/managed/DiffGen/DiffGeneration/DeltaCatalog.cs
  src/managed/DiffGen/DiffGeneration/Diff.cs
  src/managed/DiffGen/DiffGeneration/DiffBuilder.cs
  src/managed/DiffGen/DiffGeneration/Utility/DeltaBuilder.cs
  src/managed/DiffGen/DiffGeneration/Utility/ToolBasedDeltaBuilder.cs
  src/managed/DiffGen/DiffGeneration/Workers/AddRecipesToDiff.cs
  src/managed/DiffGen/DiffGeneration/Workers/AddRemainderChunks.cs
  src/managed/DiffGen/DiffGeneration/Workers/CreateDeltas.cs
  src/managed/DiffGen/DiffGeneration/Workers/CreateInlineAssets.cs
  src/managed/DiffGen/DiffGeneration/Workers/SelectDeltasFromCatalog.cs
  src/managed/DiffGen/DiffGeneration/Workers/SelectItemsForDelta.cs
  src/managed/DiffGen/DiffGeneration/Workers/UseRecipesFromSource.cs
  src/managed/DiffGen/DiffGeneration/Workers/VerifyDiffObject.cs
  src/managed/DiffGen/DiffGeneration/Workers/VerifyDiffOutput.cs
  src/native/tools/recompress/recompress_tool.cpp
  version.txt
Due: pipelines/CI/diffapi-ubuntu1804.yml, pipelines/CI/diffapi-ubuntu2004-arm.yml, pipelines/CI/diffapi-ubuntu2004-arm64.yml, pipelines/CI/diffapi-ubuntu2004.yml, pipelines/CI/diffapi-windows.yml, pipelines/CI/diffgen-tests-linux.yml, pipelines/CI/diffgen-tests-windows.yml, pipelines/CI/end-to-end-tests.yml

Add packages for version 2.0.5
  preview/2.0.5/arm-linux/ms-adu_diffs_2.0.5_arm.deb
  preview/2.0.5/arm64-linux/ms-adu_diffs_2.0.5_arm64.deb
  preview/2.0.5/x64-linux/DiffGenTool.x64-linux.Release.tar.gz
  preview/2.0.5/x64-linux/ms-adu_diffs_2.0.5_x86_64.deb
  preview/2.0.5/x64-windows/DiffGenTool.x64-windows.Release.7z
Due: none
